.App {
  text-align: center;
  overflow-y: hidden;
}

.input{
  border-radius: 30px;
  padding: 12px 12px;
  background-color: #D1E3E8;
  font-size: medium;
}

.button{
  background-color: #A5D3E4;
  border-radius: 30px;
  padding: 15px 70px;
  font-size: larger;
  margin-bottom: 10rem;

}
.button:hover{
  background-color: #63FBFD;
}

.mainbox{
  background-color: #A5D3E4;
  border: 3px solid black;
  /* padding: 20px 20px; */
  margin: auto;
  min-height: 0;
  width: 68rem;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
 
  
}

.mainbox.with-padding {
  padding: 25px; 
}

.innerbox{
  background-color: #E98CBA;
  padding: 20px 10px;
  height: 45px;
  width: 500px;
  border: 2px solid black;
  border-radius: 20px;
}

.hide{
  display: none;
}

.block{
  display: block;
}

.button1{
  margin: auto;
  margin-top: 10rem;
}